html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:wght@400;700&display=swap');


:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    -dark-grayish-violet: hsl(273, 4%, 51%);
    -very-light-gray: hsl(0, 0%, 98%);
}
body{
    color: var(--dark-violet);
    margin: 0;
    font-family: 'Karla', sans-serif;
}
h1,
h2,
h3{
    font-family: 'DM Serif Display', sans-serif;
}

h1, h2{
    font-size: 4em;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    margin: 0;
    padding-top: 50px;
}

h3{
    font-size: 2em;
}

p{
    opacity: 0.8;
}

.line-top::before{
    content: '';
    width: 150px;
    height: 1px;
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
}

.line-violet::before{
    background-color: var(--dark-violet);   
}

.btn{
    background-color: transparent;
    border: solid 2px #fff;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-reverse{
    border-color: var(--dark-violet);
    color: var(--dark-violet);
}

.container{
    padding: 20px;
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex > div{
    flex: 1;
}
.align-start{
    align-items: flex-start;
}

/* Nav syling */
nav{

    

}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
}

nav li{
    margin-left: 30px;
}

nav li a{
    color: var(--grayish-blue);
    text-transform: uppercase;
    text-decoration: none;

}


/* Header syling */
header{
    background-color: var(--dark-violet);
    color: white;
    padding: 50px;
    position: relative;
    margin-bottom: 250px;
}
header::after{
    content: '';
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position:top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
header::before{
    content: '';
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position:bottom left;
    position: absolute;
    left: 0;
    bottom: -50%;    
    height: 100%;
    width: 100%;
}

.heroimg{
    margin-bottom: -250px;
}
/* Section syling */
section{
}

.grid{
    margin-top: 90px;
}

.bg-violet{
    background-color: var(--dark-violet);
    padding: 70px;
    position: relative;
}
.bg-violet::before{
    content: '';
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 50% 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;    
    height: 100%;
    width: 100%;
}

.bg-violet h2{
    color: white;
    font-size: 3em;
    padding: 0;
    width: 60%;
}

/* Footer syling  */
footer{
    background-color: var(--very-light-gray);
}

footer h4{
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
}

footer ul{
    padding: 0;
    list-style: none;
}

footer li{
    margin-bottom: 20px;
}

footer li a{
    color: var(--dark-violet);
    text-transform: uppercase;
    text-decoration: none;
}

ul.icons{
    display: flex;
    justify-content:flex-end;
    ;
}

.icons li {
    margin-left: 20px;
}